:root{
    --black: #060606;
    --white: #f2f3f8;
    --red: #c02739;
}

.container{
    padding: 1.5em;
    padding-left: 3em;
    min-height: 100vh;
}

.container .heading{
    font-weight: 700;
    font-size: 2em;
    border-bottom: .1em solid var(--red);
    padding-bottom: .5em;
    width: fit-content;
    margin-top: 1em;
}

.ad{
    margin: 3em 1.5em 1em 0;
    padding: 1.5em 0;
}

hr{
    border-top: .1em solid var(--black);
}

.title{
    font-size: 1.7em;
    font-weight: 700;
    padding: .5em 0;
}

.image{
    width: 17em;
    max-height: 25em;
}

.image img{
    width: inherit;
    border-radius: .7em;
}

.comment{
    border-bottom: .15em solid var(--black);
    width: fit-content;
    padding: .5em 2em;
}

.comment button{
    font-size: 1em;
    padding: .5em;
    margin-top: .5em;
}

.comment h4{
    font-weight: 900;
    font-size: 1.2em;
    border-left: .15em solid var(--red);
    padding-left: .5em;
}

#comments{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}